*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
flex-wrap: wrap;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #000000;
}
.parent {
  max-height: 100vh;
  background-color: rgb(0, 0, 0);
padding: 30px;
display: flex;
align-items: center;

gap: 20px;

}
.top img{
  height: 40px;
  border-radius: 50%;
  width: 40px;
  border: 2px solid #dadada;
  padding: 3px;
}
.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  height: 350px;  
  width: 300px;
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 20px;

}
.card:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 3px 6px;
  font-size: 10px;
  font-weight: bold;
  gap: 3px;
  background-color: transparent;
}

.centre h3{
  font-size: 17px;
  font-weight: 750;

}
.centre  h3 span{
  font-size: 10px;
  font-weight: 400;
  color: #8b8b8b; ;
}
.centre h2{
  font-weight: 600;
  font-size: 20px;
}
.centre .tag{
  display: flex;
  gap: 5px;
  margin-top: 15px;
}
.centre .tag h4{
  font-size: 14px;
  padding: 3px 6px;
  font-weight: 500;
  color: black;
  background-color: #dadada;
  border-radius: 8px;
  padding: 4px 10px;
}
.bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
   border-top: 1.5px solid #dadada;
   padding-top: 8px;
}
.bottom button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  border-radius: 8px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: bold;
  gap: 3px;
  color: whitesmoke;
  background-color:black;
}
.centre{
  margin: 60px 0;
}