@import "tailwindcss";
@font-face {
  font-family: font1;
  src: url("/font/Lausanne-300.woff2") format("woff2");
}
@font-face {
  font-family: font2;
  src: url("/font/Lausanne-500.woff2") format("woff2");
}
html,
body,
#root {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
*{
 color: white;
}
body {
  font-family: font1, sans-serif;
}

